{{ 'marquee.css' | asset_url | stylesheet_tag }}

<section
  class="marquee"
  style="
    color : {{section.settings.textColor}};
    background-color: {{section.settings.bgColor}}
  "
>
  {% for item in (1..5) %}
    <section class="marquee__slider">
      <h1>{{ section.settings.headline }}</h1>
      <h1>{{ section.settings.headline }}</h1>
      <h1>{{ section.settings.headline }}</h1>
    </section>
  {% endfor %}

  <script>
    const marqueeSlider = document.querySelector('.marquee__slider').cloneNode(true);
  </script>
</section>

{% schema %}
{
  "name": "marquee",
  "tag": "section",
  "class": "scrolling-banner",
  "presets": [
    {
      "name": "scrolling-banner"
    }
  ],
  "settings": [
    {
      "label": "enter your name",
      "type": "text",
      "id": "headline"
    },
    {
      "label": "text color",
      "type": "color",
      "id": "textColor",
      "default": "#555555"
    },
    {
      "label": "backGround color",
      "type": "color",
      "id": "bgColor",
      "default": "#000000"
    }
  ]
}
{% endschema %}
