{{ 'marquee.css' | asset_url | stylesheet_tag }}

<section
  class="marquee"
  {% if section.settings.bgColor %}
    style="color : #ff0000 "
  {% endif %}
>
  <section class="marquee__slider">
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
  </section>
  <section class="marquee__slider">
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
  </section>
  <section class="marquee__slider">
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
  </section>
  <section class="marquee__slider">
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
    <h1>{{ section.settings.headline }}</h1>
  </section>
</section>

{% schema %}
{
  "name": "marquee",
  "tag": "section",
  "class": "scrolling-banner",
  "presets": [
    {
      "name": "scrolling-banner"
    }
  ],
  "settings": [
    {
      "label": "enter your name",
      "type": "text",
      "id": "headline"
    },
    {
      "label": "background color",
      "type": "color",
      "id": "bgColor",
      "default": "#110000"
    }
  ]
}
{% endschema %}
