{{ 'marquee.css' | asset_url | stylesheet_tag }}

<section
  class="marquee"
  style="
    color : {{section.settings.textColor}};
    background-color: {{section.settings.bgColor}};
    padding : {{section.settings.padding}}rem;
    border-top: solid {{section.settings.borderSize}}px {{section.settings.borderColor}} ;
    border-bottom: solid {{section.settings.borderSize}}px {{section.settings.borderColor}} ;
  "
>
  {% for item in (1..5) %}
    <section
      class="marquee__slider"
      style="animation-duration: {{section.settings.animationDuration}}s;"
    >
      <h1>{{ section.settings.headline }}</h1>
      <h1>{{ section.settings.headline }}</h1>
      <h1>{{ section.settings.headline }}</h1>
    </section>
  {% endfor %}
  <script>
    console.log('nigger', '{{section.settings.padding}}');
  </script>
</section>

{% schema %}
{
  "name": "marquee",
  "tag": "section",
  "class": "scrolling-banner",
  "presets": [
    {
      "name": "scrolling-banner"
    }
  ],
  "settings": [
    {
      "label": "Enter your name",
      "type": "text",
      "id": "headline"
    },
    {
      "label": "Text color",
      "type": "color",
      "id": "textColor",
      "default": "#555555"
    },
    {
      "label": "BackGround color",
      "type": "color",
      "id": "bgColor",
      "default": "#000000"
    },
    {
      "label": "Padding",
      "type": "range",
      "id": "padding",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "label": "Border Color",
      "type": "color",
      "id": "borderColor",
      "default": "#ff0000"
    },
    {
      "label": "Border Size (Pixels)",
      "type": "range",
      "id": "borderSize",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 5
    },
    {
      "label": "Border Size (Pixels)",
      "type": "range",
      "id": "animationDuration",
      "min": 5,
      "max": 15,
      "step": 1,
      "default": 10
    }
  ]
}
{% endschema %}
